<mat-card>
  <form [formGroup] = 'postForm' (ngSubmit)='onAddPost()'>
    <mat-form-field appearance='outline'>
      <mat-label>Title</mat-label>
      <input matInput type="text" formControlName='title'>
    </mat-form-field>
    <div class="imgdiv">
      <button mat-stroked-button color='primary' type="button" (click) = 'fileInput.click()'>Upload image</button>
      <input type="file" #fileInput (change) = 'onAddImage($event)'>
    </div>
    <div class="imageView imgdiv" *ngIf="imagePrev != '' && imagePrev">
      <img [src]="imagePrev" [alt]="postForm.value.title">
    </div>
    <mat-form-field appearance='outline'>
      <mat-label>Content</mat-label>
      <textarea matInput rows="6" formControlName='content'></textarea>
    </mat-form-field>
    <button mat-raised-button color='primary' type="submit" [disabled]='!postForm.valid'>Save Post</button>
  </form>
</mat-card>
